[submodule "Vendor/ObjectMapper"]
	path = Vendor/ObjectMapper
	url = https://github.com/Hearst-DD/ObjectMapper.git
[submodule "Vendor/Alamofire"]
	path = Vendor/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Vendor/BrightFutures"]
	path = Vendor/BrightFutures
	url = https://github.com/Thomvis/BrightFutures.git
